#contact {
    position: relative;
    margin-top: 50px;
    align-items: center;
    scroll-margin-top: 100px;
    min-height: 800px;
}

.top-div {
    position: absolute;
    display: inline-block;
}

.bottom-div {
    position: absolute;
    display: block;
    margin: 0 10%;
    width: 85%;
}

.bottom-div img {
    width: 95%;
}

nav {
    font-size: 50px;
    display: flex;
    gap: 100px;
}

nav li {
    display: inline-block;
}

nav ul {
    display: flex;
    gap: 170px;
    padding: 5px 10px;
    margin: 20px 200px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgba(102, 52, 0, 0.38);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 50px 190px;
}

.contact img {
    width: 95%;
}

.contact h4 {
    font-size: 40px;
    font-weight: bold;
    color: #840000;
    font-style: italic;
    padding-bottom: 10px;
}

.contact p {
    font-size: 35px;
    padding-top: 10px;
}

.contact a {
    text-decoration: none;
    color: #000;
}
