* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    z-index: 9999;
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

header img {
    height: 50px;
}

.frontcover {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.frontcover img {
    width: 84%;
    position: relative;
    top: -100px;
    margin-bottom: -200px;   
}

.button {
    background-color: rgba(248, 229, 187, 1);
    border: 2px solid #840000;
    color: #840000;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: -160px 2px 4px;
    cursor: pointer;
    border-radius: 60px;
    z-index: 1000;
}

.button a {
    text-decoration: none;
    color: #840000;
    font-size: 30px;
}

footer {
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer p {
    font-size: 30px;
    color: #840000;
}